div.page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

div.page-title {
  text-align: center;
}

div.page-content {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

div.upload {
  flex-grow: 1;
  min-width: 400px;
  /**for btn style**/
 font-size: 30px;
 padding: 10px 35px;
 background: #0492c2;
 border: none;
 color: #ffffff;
 border-radius: 8px;
}

div.article {
  flex-grow: 1;
  min-width: 400px;
}

label.custom-file-upload {
  align-items: center;
  border: 2px dashed #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  transition: border-color 0.3s ease;
  width: 100%;
}

label.custom-file-upload:hover {
  border-color: #aaa;
}

label.custom-file-upload input[type="file"] {
  display: none;
}

img#preview-image {
  max-width: 100%;
}

div.article-title {
  font-size: 32px;
  font-weight: bold;
}
