<div class="page">

  <div class="page-title">
    <h1>Automatic Facial Analysis from Images using Amazon Rekognition</h1>
  </div>

  <!--<div class="test-content">
    <app-test></app-test>
    <app-list-buckets></app-list-buckets>
  </div>-->

  <div class="page-content">

    <div class="upload">

      <label for="upload-image" class="custom-file-upload">

        <input type="file" id="upload-image" accept="image/*" (change)="onImageChange($event)">
        Upload your image here
      </label>

      <div class="image-container">
        <img id="preview-image" alt="" [src]="imageSrc">
      </div>

    </div>

    <div class="article">
      <!--Removed title - no title needed
        <div class="article-title">Title here...</div>
        -->
        <p>{{ article }}</p>
      </div>

    </div>

  </div>
